go2_isaac_ros2_ws/
isaacsim/
*.zip
*.sif

simulator/IsaacSim/
simulator/IsaacLab/
simulator/Assets/
forklift_detections/
controller/__pycache__/
scripts/__pycache__/
controller/lockfiles/
*ufhpc*
controller/detections/
IsaacSimAssests/
outputs/
logs/
*.log
!debug/*.log
object-detection/sam3_modelscope/sam3.pt
object-detection/sam3_modelscope/model.safetensors
depth_model.pt